.page-content {
  margin-top: 10%;
}
.error {
  width: 90%;
  border-radius: 10px;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  padding: 1em 0;
  text-align: center;
  font-weight: bolder;
  color: white;
  margin: 1em auto auto;
}

.location-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.request-form form {
  display: flex;
  flex-direction: column;
}

.request-form input {
  font-size: 20px;
  padding: .3em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #34495e;
  margin-bottom: .5em;
}

.request-form button {
  font-size: 20px;
  background-color: #3498db;
  border: 1px solid #2980b9;
  padding-top: .4em;
  padding-bottom: .4em;
  border-radius: 10px;
}

.data-table {
  margin-top: 1em;
}
